{% load static %}
<div class="footer-container">
    <div class="footer-content">
        <p class="copyright-text">© 2021 QodeInteractive, All Rights Reserved</p>
    </div>
</div>
<style>
    /* Style the footer container */
.footer-container {
    width: 100%; /* Full width of the page */
    padding: 10px; /* Add some padding */
    background-color: inherit; /* Light gray background color */
    margin: 0 50px 50px 100px;
}

/* Style the flex container */
.footer-content {
    display: flex; /* Use flex layout */
    justify-content: space-between; /* Space out the child elements */
    align-items: center; /* Center items vertically */
}

/* Style the copyright text */
.copyright-text {
    margin: 0; /* Remove default margin */
}

/* Style the LinkedIn icon */
.linkedin-icon {
    color: #0e76a8; /* LinkedIn blue color */
    font-size: 24px; /* Adjust icon size */
}
</style>