{% load static %}

    <div id="qodef-page-outer">
    <div id="qodef-page-inner" class="qodef-content-full-width">
    <main id="qodef-page-content" class="qodef-grid qodef-layout--columns  qodef-gutter--huge">
    <div class="qodef-grid-inner">
    <div class="qodef-grid-item qodef-page-content-section">
    <div data-elementor-type="wp-page" data-elementor-id="9" class="elementor elementor-9">
    <div class="elementor-inner">
    <div class="elementor-section-wrap">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-8fa5e0f elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="8fa5e0f" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d37ed9c" data-id="d37ed9c" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-6c03929 elementor-widget elementor-widget-text-editor" data-id="6c03929" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
    <div class="elementor-text-editor elementor-clearfix">
    © 2021 <a class="qodef-link--hover-underline" style="color: #000000; font-size: 15px; font-weight: 400;" href="https://qodeinteractive.com/" target="_blank" rel="noopener">QodeInteractive</a>, All Rights Reserved </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-40223c9" data-id="40223c9" data-element_type="column">
    <div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-749a0dac elementor-widget__width-auto elementor-view-default elementor-widget elementor-widget-icon" data-id="749a0dac" data-element_type="widget" data-widget_type="icon.default">
    <div class="elementor-widget-container">
    <div class="elementor-icon-wrapper">
    <a class="elementor-icon" href="https://www.behance.net/qodeinteractive" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="11px" viewBox="0 0 12 11" style="enable-background:new 0 0 12 11; fill:currentColor;" xml:space="preserve">
            <g>
            <path d="M2.6-29.4c1.7,0,3.1,0.5,3.1,2.4c0,1-0.5,1.6-1.3,2c1.2,0.3,1.8,1.3,1.8,2.5c0,2-1.7,2.9-3.5,2.9H-2v-9.8H2.6z M2.4-25.4   c0.8,0,1.3-0.3,1.3-1.2c0-0.9-0.7-1.1-1.5-1.1h-2v2.3H2.4z M2.5-21.2c0.9,0,1.6-0.3,1.6-1.3c0-1-0.6-1.4-1.6-1.4H0.2v2.7H2.5z    M12.1-21.8h1.7c-0.5,1.6-1.6,2.4-3.3,2.4c-2.2,0-3.6-1.5-3.6-3.7c0-2.1,1.5-3.8,3.6-3.8c2.2,0,3.5,1.8,3.5,3.9c0,0.1,0,0.2,0,0.4   H8.8c0,1.1,0.6,1.8,1.8,1.8C11.2-20.9,12-21.2,12.1-21.8z M8.4-28.7v1h4v-1H8.4z M8.8-23.9H12c-0.1-0.9-0.6-1.5-1.6-1.5   C9.5-25.4,8.9-24.8,8.8-23.9z"></path>
            </g>
            <g>
            <path d="M1.4,2.6L1.4,2.6C0.6,2.6,0,2,0,1.3C0,0.6,0.6,0,1.5,0c0.9,0,1.4,0.6,1.4,1.3C2.9,2,2.3,2.6,1.4,2.6z M2.7,11H0.1V3.6h2.6   V11z M12,11H9.4V7c0-1-0.4-1.7-1.3-1.7C7.4,5.4,7,5.8,6.8,6.2C6.7,6.4,6.7,6.6,6.7,6.9V11H4.1c0-6.7,0-7.4,0-7.4h2.6v1.1h0   C7,4.1,7.6,3.4,9,3.4c1.7,0,3,1.1,3,3.3V11z"></path>
            </g>
            <g>
            <path d="M9.6,34.8H8.3c-1,0-1.2,0.5-1.2,1.1v1.5h2.4l-0.3,2.3H7.2v5.9H4.7v-5.9H2.6v-2.3h2.1v-1.7c0-2,1.3-3.1,3.1-3.1   c0.9,0,1.6,0.1,1.8,0.1V34.8z"></path>
            </g>
            </svg> </a>
    </div>
    </div>
    </div>
    
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    </main>
    </div>
    </div>
    </div>
