{% load static %}


{% if user.is_authenticated %}
<div class="header slide">
    <div class="header-content">
        <a href="{% url 'portfolio_page' %}" class="logo">Dejan Markovic</a>
        <div class="nav-links">
            <a href="{% url 'about_page' %}">About</a>
            <a href="{% url 'create_project' %}" class="create-project-link">Create project</a>
            <a href="{% url 'logout_user' %}">Logout</a>
        </div>
    </div>
</div>
{% else %}
<div class="header slide">
    <div class="header-content">
        <a href="{% url 'portfolio_page' %}" class="logo">Dejan Markovic</a>
        <div class="nav-links">
            <a href="{% url 'about_page' %}">About</a>
        </div>  
    </div>
</div>
{%  endif %}
