{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Toast container for error and success messages -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <!-- Loop through messages and display as toasts -->
    {% for message in messages %}
    <div
        class="toast align-items-center {% if message.tags == 'error' %}bg-danger {% else %} bg-success {% endif %} border-0"
        role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 100px;">
        <div class="d-flex">
            <div class="toast-body" style="color: white;">
                {{ message }}
            </div>
            <button style="color: white; background-color: transparent;" type="button"
                class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    <!-- Display form image errors as toasts -->
    {% if form.image.errors %}
    <div class="toast align-items-center bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true"
        style="margin-top: 100px;">
        <div class="d-flex">
            <div class="toast-body" style="color: white;">
                {{ form.image.errors }}
            </div>
            <button style="color: white; background-color: transparent;" type="button"
                class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
</div>

<!-- Main content section for the hero form -->
<div class="hero">
    <div class="formbold-main-wrapper">
        <!-- Form wrapper for adding new content -->
        <div class="formbold-form-wrapper">
            <!-- Form for adding new content -->
            <form method="POST" enctype="multipart/form-data">
                <!-- CSRF token for security -->
                {% csrf_token %}

                <!-- Form field for professional summary -->
                <div class="formbold-mb-5">
                    <label class="formbold-form-label" for="{{ form.top_paragraph.id_for_label }}">
                        Professional Summary
                    </label>
                    <textarea class="formbold-form-input" name="{{ form.top_paragraph.name }}"
                              id="{{ form.top_paragraph.id }}" placeholder="{{ form.top_paragraph.label }}"
                              rows="5" cols="40">{{ form.top_paragraph.value }}</textarea>
                </div>

                <!-- Form field for Paragraph 1 -->
                <div class="formbold-mb-5">
                    <label class="formbold-form-label" for="{{ form.paragraph_1.id_for_label }}">
                        Paragraph 1
                    </label>
                    <textarea class="formbold-form-input" name="{{ form.paragraph_1.name }}"
                              id="{{ form.paragraph_1.id }}" placeholder="{{ form.paragraph_1.label }}"
                              rows="5" cols="40">{{ form.paragraph_1.value }}</textarea>
                </div>

                <!-- Form field for Paragraph 2 -->
                <div class="formbold-mb-5">
                    <label class="formbold-form-label" for="{{ form.paragraph_2.id_for_label }}">
                        Paragraph 2
                    </label>
                    <textarea class="formbold-form-input" name="{{ form.paragraph_2.name }}"
                              id="{{ form.paragraph_2.id }}" placeholder="{{ form.paragraph_2.label }}"
                              rows="5" cols="40">{{ form.paragraph_2.value }}</textarea>
                </div>

                <!-- Form field for Paragraph 3 -->
                <div class="formbold-mb-5">
                    <label class="formbold-form-label" for="{{ form.paragraph_3.id_for_label }}">
                        Paragraph 3
                    </label>
                    <textarea class="formbold-form-input" name="{{ form.paragraph_3.name }}"
                              id="{{ form.paragraph_3.id }}" placeholder="{{ form.paragraph_3.label }}"
                              rows="5" cols="40">{{ form.paragraph_3.value }}</textarea>
                </div>

                <!-- Form field for uploading image -->
                <div class="mb-6 pt-4">
                    <label for="{{ form.image.id_for_label }}" class="formbold-form-label formbold-form-label-2">
                        Upload Image
                    </label>
                    <input type="file" name="{{ form.image.name }}" id="{{ form.image.id }}"
                           accept="image/*" style="width: 213px; margin-bottom: 20px;">
                </div>
                
                <!-- Display current photo if it exists -->
                {% if form.instance.image %}
                <div class="textfield" style="margin-top: 10px;">
                    <label for="current_image" class="formbold-form-label">
                        Current Photo
                    </label>
                    <img src="{{ form.instance.image.url }}" alt="Current Photo" loading="lazy"
                         style="max-width: 200px;">
                </div>
                {% endif %}
                
                <!-- Submit button -->
                <div>
                    <button type="submit" class="formbold-btn w-full" style="margin-top: 20px;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Include Bootstrap and jQuery if not already included -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Show toasts when the page loads -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all toast elements
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        // Initialize each toast element
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl);
        });
        // Show each toast
        toastList.forEach(function (toast) {
            toast.show();
        });
    });
</script>

<!-- Include Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
		
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
       
            /* Default styles for the link */
          a.file-link {
              display: block;
              max-width: 213px;
              white-space: nowrap;
              overflow: visible;
              text-overflow: ellipsis;
          }

          /* Styles for screen widths of 460px or less */
          @media screen and (max-width: 460px) {
              a.file-link {
                  white-space: normal;
                  word-wrap: break-word;
              }
          }
        .formbold-mb-5 {
          margin-bottom: 20px;
        }
        .formbold-pt-3 {
          padding-top: 12px;
        }
        .formbold-main-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 48px;
        }
      
        .formbold-form-wrapper {
          margin: 0 auto;
          max-width: 550px;
          width: 100%;
          background: white;
        }
        .formbold-form-label {
          display: block;
          font-weight: 500;
          font-size: 16px;
          color: #07074d;
          margin-bottom: 12px;
        }
        .formbold-form-label-2 {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 20px;
        }
      
        .formbold-form-input {
          width: 100%;
          padding: 12px 24px;
          border-radius: 6px;
          border: 1px solid #e0e0e0;
          background: white;
          font-weight: 500;
          font-size: 16px;
          color: #6b7280;
          outline: none;
          resize: none;
        }
        .formbold-form-input:focus {
          border-color: #6a64f1;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }
      
        .formbold-btn {
          text-align: center;
          font-size: 16px;
          border-radius: 6px;
          padding: 14px 32px;
          border: none;
          font-weight: 600;
          background-color: #6a64f1;
          color: white;
          cursor: pointer;
        }
        .formbold-btn:hover {
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }
      
        .formbold--mx-3 {
          margin-left: -12px;
          margin-right: -12px;
        }
        .formbold-px-3 {
          padding-left: 12px;
          padding-right: 12px;
        }
        .flex {
          display: flex;
        }
        .flex-wrap {
          flex-wrap: wrap;
        }
        .w-full {
          width: 100%;
        }
      
        .formbold-file-input input {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      
        .formbold-file-input label {
          position: relative;
          border: 1px dashed #e0e0e0;
          border-radius: 6px;
          min-height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 48px;
          text-align: center;
        }
        .formbold-drop-file {
          display: block;
          font-weight: 600;
          color: #07074d;
          font-size: 20px;
          margin-bottom: 8px;
        }
      
        .formbold-or {
          font-weight: 500;
          font-size: 16px;
          color: #6b7280;
          display: block;
          margin-bottom: 8px;
        }
        .formbold-browse {
          font-weight: 500;
          font-size: 16px;
          color: #07074d;
          display: inline-block;
          padding: 8px 28px;
          border: 1px solid #e0e0e0;
          border-radius: 4px;
        }
      
        .formbold-file-list {
          border-radius: 6px;
          background: #f5f7fb;
          padding: 16px 32px;
        }
      
        .formbold-file-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      
        .formbold-file-item button {
          color: #07074d;
          border: none;
          background: transparent;
          cursor: pointer;
        }
      
        .formbold-file-name {
          font-weight: 500;
          font-size: 16px;
          color: #07074d;
          padding-right: 12px;
        }
        .formbold-progress-bar {
          margin-top: 20px;
          position: relative;
          width: 100%;
          height: 6px;
          border-radius: 8px;
          background: #e2e5ef;
        }
      
        .formbold-progress {
          position: absolute;
          width: 75%;
          height: 100%;
          left: 0;
          top: 0;
          background: #6a64f1;
          border-radius: 8px;
        }
      
        @media (min-width: 540px) {
          .sm\:w-half {
            width: 50%;
          }
        }
      </style>
{% endblock %}