{% extends 'base.html' %}
{% block content %}
<!-- Error messages -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    {% for message in messages %}
    <div
      class="toast align-items-center {% if message.tags == 'error' %}bg-danger {% else %} bg-success {% endif %} border-0"
      role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 100px;">
      <div class="d-flex">
        <div class="toast-body" style="color: white;">
          {{ message }}
        </div>
        <button style="color: white; background-color: transparent;" type="button"
          class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
    {% if form.image.errors %}
    <div class="toast align-items-center bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true"
      style="margin-top: 100px;">
      <div class="d-flex">
        <div class="toast-body" style="color: white;">
          {{ form.image.errors }}
        </div>
        <button style="color: white; background-color: transparent;" type="button"
          class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    {% endif %}
  </div>

<div id = "project_details">
<div style = "text-align: center;" class="work-page slide delay01">
    <div class="work-page-content">
        <h1>{{ project.title }}</h1>
    </div>
</div>

{% if no_details %}
<div class="qodef-e-content">
  <div style="text-align: center; font-size: 20px;" class="qodef-e-info-category">
			{% if user.is_authenticated %}
			<p>No details yet. Please <a href="{% url 'add_project_detail' project.id %}" style = "font-style: italic; color: #888b8b; padding-top: 0px; display: inline-block;">add</a> the details for the project.</p>
			{% else %}
			<p>No details yet.</p>
			{% endif %}

        </div>
    </div>
      <!-- Back to all projects link -->
  <h5 style="text-align: center; margin-top: 20px;" itemprop="name" class="qodef-e-title entry-title">
    <a href="{% url 'portfolio_page' %}">Back to all projects</a>
  </h5>
    
{% else %}


<!-- ############################################## -->

<div style = "padding: 1vh 0 1vh 0" class="work-page slide delay01">
	<div class="work-page-content">
        {% for detail in project_details %}
		<h1 style="font-size: calc(1rem + 1vw);">{{ detail.code_title }}</h1>
		<p class="text">
			{{ detail.description }}
        </p>
        {% if detail.python_file %}
		<p>
		
            <strong>File:</strong> <a style="font-style: italic; width: 120px;" href="{{ detail.python_file.url }}" download>Download</a>
      
		</p>
        <p>
          <pre><code id="code-3" class="language-python hljs" style="display: block; height: 600px; overflow-y: auto; white-space: pre-line;">
            {{ detail.python_file_content }}
        </code></pre>
            
            
		</p>
        {% endif %}


        <div style="display: flex; justify-content: center; gap: 40px; margin-top: 20px;">
          <a style="color: #888b8d; outline: none;" class="copy-btn" data-target="code-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
              </svg>
          </a>
      
          {% if user.is_authenticated %}
          <a style="color: #888b8d; outline: none;"
                href="{% url 'edit_details' detail.id %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <!-- SVG paths -->
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502 .646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
          </a>
      </div>


        {% endif %}

        {% endfor %}
    </div>

</div>

  <!-- Back to all projects link -->
  <h5 style="text-align: center; margin-bottom: 200px;" itemprop="name" class="qodef-e-title entry-title">
    <a href="{% url 'portfolio_page' %}">Back to all projects</a>
  </h5>
    
<!-- ############################################## -->








{% endif %}



<!-- Add Prism.js for syntax highlighting -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism-tomorrow.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/toolbar/prism-toolbar.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/night-owl.min.css">



<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>



<script>
document.addEventListener('DOMContentLoaded', function () {
    hljs.highlightAll();
});
document.addEventListener('DOMContentLoaded', function() {
    // Initialize Prism for syntax highlighting
    Prism.highlightAll();

    // Add click event listener for the copy buttons
    document.querySelectorAll('.copy-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            // Get the target ID from the data-target attribute
            var targetId = button.getAttribute('data-target');
            console.log("Target ID:", targetId); // Debugging: Log the target ID

            // Ensure the target ID is correct
            targetId = targetId.replace('code-', '');

            // Get the code element based on the target ID
            console.log("Searching for element with ID:", `#code-${targetId}`);
            var codeElement = document.querySelector(`#code-${targetId}`);
            console.log("Code Element:", codeElement); // Debugging: Log the code element

            // Check if the code element exists
            if (!codeElement) {
                console.log("Code element not found for target ID:", targetId);
                return;
            }

            // Verify the content of the code element
            console.log("Code Content:", codeElement.textContent);

            // Create a temporary textarea element
            var tempTextarea = document.createElement('textarea');
            tempTextarea.value = codeElement.textContent;
            document.body.appendChild(tempTextarea);

            // Select and copy the content
            tempTextarea.select();
            document.execCommand('copy');

            // Remove the temporary textarea element
            document.body.removeChild(tempTextarea);

            // Provide feedback to the user
            alert('Code copied to clipboard!');
        });
    });
});


</script>
 <!-- Include jQuery (if not already included) -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
 <!-- for toast -->
 <script>
   // Show toast when page loads
   document.addEventListener('DOMContentLoaded', function () {
     var toastElList = [].slice.call(document.querySelectorAll('.toast'));
     var toastList = toastElList.map(function (toastEl) {
       return new bootstrap.Toast(toastEl);
     });
     toastList.forEach(function (toast) {
       toast.show();
     });
   });
 </script>

 <style>
.btn-primary {
    --bs-btn-bg: #888b8d; /* Current background color */
    --bs-btn-border-color: #888b8d;
    --bs-btn-hover-bg: #888b8d; /* Same color as background */
    --bs-btn-hover-border-color: #888b8d;
}
    @media screen and (max-width: 767px) {
    h1, p.text {
    max-width: 100%; /* Adjust the width as needed to match the code box width */
    padding: 10px; /* Adjust the padding around the image */
    word-wrap: break-word; /* This will allow the text to wrap onto the next line */
}
    }

    /* Desktop styles */
@media screen and (min-width: 768px) {
    h1, p.text {
    max-width: 100%; /* Adjust the width as needed to match the code box width */
    padding: 10px; /* Adjust the padding around the image */
    word-wrap: break-word; /* This will allow the text to wrap onto the next line */
    }
}
 </style>
<style>
/* Custom code block styling */
pre[class*="language-python"] {
    background-color: inherit; /* Remove background color */
    color: #f5f5f5; /* Light gray text */
    padding: 10px; /* Padding for readability */
    border-radius: 10px; /* Rounded corners */
    overflow-x: auto; /* Horizontal scrolling for long lines */

    border: 1px solid blanchedalmond; /* Add a thin black border around the code block */
}

/* Customize syntax element colors */
.hljs-keyword {
    color: #c792ea; /* Pink for keywords */
}

.hljs-comment {
    color: #6a8759; /* Green for comments */
}

.hljs-string {
    color: #e5c07b; /* Yellow for strings */
}
</style>

{% endblock %}


